@import "./variables.css";
/*Global changes*/
:root {
  --header-height: 56px;
  --footer-height: 46px;
}



html{
    min-height: 100vh;
    color: var(--color-text);
    background-color: var(--color-background);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 16px;
  height: var(--header-height);
  background-color: var(--color-primary);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  height: var(--footer-height);
  background-color: var(--color-background);
}

#main-content {
  display: flex;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
#main-content > :first-child {
  width: 300px;
  background-color: var(--color-background);
}

nav{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
nav a {
  padding: 5px 16px;
}

nav a:hover {
  background-color: var(--color-primary);
  border-radius: 5px;
  color: var(--color-background);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: var(--nav-padding-top);
    background-color: var(--color-background-light);
}
