@import "./variables.css";
/*classes and local changes*/

.container{
    max-width: var(--max-width-container);
    display: flex;
    flex-direction: column;
}

#sidebar{
    padding: 16px 0px 0px 16px;
}