:root{
    --color-primary: #F97316;
    --color-secondary: #774f04;
    --color-background: #181a1b;
    --color-background-light: #191f25;
    --color-text: #ffffff;
    --color-text-light: #898c8e;
    --color-border: #3e4446;
}